<article class="main">

  <h2>Welcome to RCRDS. </h2>
  <p>Record & CD Retail Database System. <br> A stock management system, designed specifically for P-Shaw! <br> P-Shaw! is an independent record shop, proudly serving Pollokshaws and Shawlands!</p>

</article>
