<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rcrd Stock Management</title>
</head>
<body>

<h1>RCRD Stock Management</h1>

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/artists">Artists</a>
    </li>
    <li>
      <a href="/artists/new">New Artist</a>
    </li>
    <li>
      <a href="/albums">Albums</a>
    </li>
    <li>
      <a href="/albums/new">New Album</a>
    </li>

  </ul>
</nav>

  <%= yield %>

</body>
</html>
