<article class="main">
  <h2>All Albums</h2>


  <table>
    <tr>
      <thead>
        <th>Album</th>
        <th>Artist</th>
        <th>Stock Status</th>
      </thead>
      <tbody>
        </tr>
        <% @albums.each do |album| %>
        <tr>
          <td><a href="/albums/<%= album.id %>"><%= album.title %></a>  </td>
          <td><%= album.artist.name %></td>
          <td><%= album.crude_stock_status %></td>
        </tr>
        <% end %>

      </tbody>


  </table>

  <br>
  <br>
  <br>

<!-- br is a fix until css positioning implemented  -->

</article>
