<article class="main">
  <h2>New Album</h2>

  <form action="/albums" method="post">

    <label for="title"></label>
    <input type="text" name="title" placeholder="Album Title"/>

    <label for="artist"></label>
    <select name="artist_id">
      <% for artist in @artists %>
        <option value="<%= artist.id %>"><%= artist.name %></option>
        <% end %>
    </select>

    <label for="stock_level"></label>
    <input type="number" name="stock_level" placeholder="Stock Quantity">

    <input class="btn" type="submit" value="Add New Album">
  </form>
</article>
