<article class="main">
  <h2>New Artist</h2>

  <form action="/artists" method="post">

    <label for="name">Name: </label>
    <input type="text" name="name" />

    <input type="submit" value="Add Artist" />
  </form>

</article>
